<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Summarizer</title>

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">

  <!-- Language Tool -->
  <script type="text/javascript" src="https://www.languagetool.org/js/jquery-1.7.0.min.js"></script>
  <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript"
    src="https://www.languagetool.org/online-check/tiny_mce/plugins/atd-tinymce/editor_plugin2.js"></script>
  <script language="javascript" type="text/javascript" src="/js/tinyMce.js"></script>

  <!-- Custom CSS (Overrides Language Tool Styles) -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <main class="section hero">

    <!-- Text Summarization Form -->
    <form name="checkform" class="container">
      <!-- Input -->
      <div class="field">
        <label for="text" class="label">Input</label>
        <!-- Required by Language Tool -->
        <p id="checktextpara" class="textarea">
          <textarea id="checktext" class="textarea" spellcheck="false" name="text">Enter some text or URL</textarea>
        </p>
      </div>

      <!-- Language Dropdown -->
      <fieldset id="language-dropdown">
        <label for="lang" class="label">Language</label>
        <div class="select">
          <select name="lang" id="lang">
            <option value="en-US">English</option>
            <option value="de-DE">German</option>
          </select>
        </div>
      </fieldset>

      <!-- Summarization Ratio -->
      <div class="field">
        <label for="summary-ratios" class="label">Summarization Ratio</label>
        <fieldset id="summary-ratios" name="summary-ratios" class="control">
          <% summaryRatios.forEach((ratio, index)=> { %>
          <label class="radio">
            <!-- Make the 4th radio button checked by default (indexes start from 0!) -->
            <input type="radio" name="summary-ratio" value="<%=ratio%>" <%if (index === 3) {%> checked <%}%> >
            <%=ratio%>% </label>
            <% }); %>
        </fieldset>
      </div>

      <!-- Submit the form to our endpoint -->
      <button type="submit" class="button is-info" formaction="/" formmethod="POST">Submit</button>

      <!-- Submit the form to Language Tool API -->
      <input type="submit" formaction="http://community.languagetool.org" formmethod="POST" name="_action_checkText"
        class="button is-outlined" value="Check Text" onClick="doit();return false;">
    </form>

    <!-- Output -->
    <% if(output) { %>
    <div id="output" class="container">
      <h4 class="label">Output</h4>
      <p><%= output %></p>
    </div>
    <% } %>

  </main>

</body>

</html>