<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Summarizer</title>

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">

  <!-- Language Tool -->
  <script type="text/javascript" src="https://www.languagetool.org/js/jquery-1.7.0.min.js"></script>
  <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript"
    src="https://www.languagetool.org/online-check/tiny_mce/plugins/atd-tinymce/editor_plugin2.js"></script>
  <script language="javascript" type="text/javascript" src="/js/tinyMce.js"></script>

  <!-- Custom CSS (Overrides Language Tool Styles) -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <main class="section hero">
    <!-- Language Tool Form -->
    <form name="checkform" class="container" action="http://community.languagetool.org" method="post">
      <p class="label">Check your text for grammatical errors</p>

      <p id="checktextpara" class="textarea">
        <textarea id="checktext" name="text" style="width: 100%"
          rows="6">Paste your own text here... or check check this text.</textarea>
      </p>

      <!-- Languages Dropdown -->
      <div class="select">
        <select name="lang" id="lang">
          <option value="en-US">English</option>
          <option value="de-DE">German</option>
        </select>
      </div>

      <input type="submit" name="_action_checkText" class="button is-info" value="Check Text"
        onClick="doit();return false;">
      <div id="feedbackErrorMessage" style="color: red;"></div>
    </form>

    <!-- Text Summarization Form -->
    <form class="container" action="/" method="POST">
      <!-- Input -->
      <div class="field">
        <label for="" class="label">Input</label>
        <textarea class="textarea is-primary" spellcheck="false" placeholder="Enter some text or URL"
          name="text"></textarea>
      </div>

      <!-- Summarization Ratio -->
      <div class="field">
        <label for="" class="label">Summarization Ratio</label>
        <fieldset id="summary-ratios" class="control">
          <% summaryRatios.forEach((ratio, index)=> { %>
          <label class="radio">
            <!-- Make the 4th radio button checked by default (indexes start from 0!) -->
            <input type="radio" name="summary-ratio" value="<%=ratio%>" <%if (index === 3) {%> checked <%}%> >
            <%=ratio%>% </label>
            <% }); %>
        </fieldset>
      </div>

      <button type="submit" class="button is-info">Submit</button>
    </form>

    <% if(output) { %>
    <div id="output" class="container">
      <h4 class="label">Output</h4>
      <p><%= output %></p>
    </div>
    <% } %>

  </main>

</body>

</html>